In [28]:
import os
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns
import cufflinks as cf
import dateutil


import plotly.plotly as py
import plotly.tools as tls
import plotly.graph_objs as go


df = pd.read_csv("downloads/winning_booths_data.csv")

print(df.dtypes)

id                      float64
featured_category_id     object
profit_estimate         float64
value_em                 object
created_at               object
first_sale               object
days_to_sale            float64
days_as_user            float64
profit_per_day          float64
orders                  float64
d_per_order             float64
source_em               float64
city                     object
state                    object
country                  object
items_for_sale          float64
view_count              float64
offers                  float64
conversion_rate          object
membership_level        float64
feedback                float64
rate                    float64
rating                  float64
dtype: object

In [75]:
grouped = df.groupby(['value_em','featured_category_id'])

print(grouped)


x = y.keys()
print(x)

<pandas.core.groupby.DataFrameGroupBy object at 0x1a18d7ef60>
Index(['MINNOW', 'DOLPHIN', 'SEA_BASS', 'WHALE'], dtype='object')

In [64]:
category_names = df.featured_category_id

whale = df[df.value_em == 'WHALE']
minnow = df[df.value_em == 'MINNOW']
sea_bass = df[df.value_em == 'SEA_BASS']
dolphin = df[df.value_em == 'DOLPHIN']

no_category = df[df.featured_category_id == 'No Category']
fashion = df[df.featured_category_id == 'Fashion']
home_garden = df[df.featured_category_id == 'Home & Garden']
parts_access = df[df.featured_category_id == 'Parts & Accessories']
health_beauty = df[df.featured_category_id == 'Health & Beauty']
jewelry_watch = df[df.featured_category_id == 'Jewelry & Watches']

TypeError: 'DataFrame' object is not callable

In [54]:
data = [go.Bar(
            x=list(x),
            y=list(y)
    )]

py.iplot(data, filename='basic-bar')