In [120]:
import pandas as pd
import numpy as np

import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode, plot
init_notebook_mode(connected=True)

In [127]:
category_dict = {
    1 : "Collectibles",
    99: "Everything Else",
    220:"Toys & Hobbies",
    237:"Dolls & Bears",
    260:"Stamps",
    267:"Books",
    281:"Jewelry & Watches",
    293:"Consumer Electronics",
    316:"Specialty Services",
    382:"Sporting Goods",
    550:"Art",
    619:"Musical Instruments & Gear",
    625:"Cameras & Photo",
    870:"Pottery & Glass",
    888:"Sporting Goods",
    1249:"Video Games & Consoles",
    1281:"Pet Supplies",
    1305:"Tickets & Experiences",
    2984:"Baby",
    3252:"Travel",
    6028:"Parts & Accessories",
    11116:"Coins & Paper Money",
    11232:"DVDs & Movies",
    11233:"Music",
    11450:"Fashion",
    11700:"Home & Garden",
    12576:"Business & Indeustrial",
    14339:"Crafts",
    15032:"Cell Phones & Accessories",
    20081:"Antiques",
    26395:"Health & Beauty",
    45100:"Enternatinment Memorabilia",
    58058:"Computers/Tablets & Networking",
    64482:"Sports Mem, Cards & Fan Shop",
    999000:"Digital Goods"
}

In [146]:
jan_total = pd.read_csv("../csv/Apr 19/jan_total_offers.csv")
jan_feedback = pd.read_csv("../csv/Apr 19/jan_total_feedbacks.csv")
feb_total = pd.read_csv("../csv/Apr 19/feb_total_offers.csv")
feb_feedback = pd.read_csv("../csv/Apr 19/feb_total_feedbacks.csv")
mar_total = pd.read_csv("../csv/Apr 19/mar_total_offers.csv")
mar_feedback = pd.read_csv("../csv/Apr 19/mar_total_feedbacks.csv")

In [153]:
january = jan_total.merge(jan_feedback, how='left', left_on='id', right_on='offer_id')
january['sold_on'] = pd.to_datetime(january.sold_on, format='%Y-%m-%d') 
february = feb_total.merge(feb_feedback, how='left', left_on='id', right_on='offer_id')
february['sold_on'] = pd.to_datetime(february.sold_on, format='%Y-%m-%d')
march = mar_total.merge(mar_feedback, how='left', left_on='id', right_on='offer_id')
march['sold_on'] = pd.to_datetime(march.sold_on, format='%Y-%m-%d')
for key, value in category_dict.items():
    january.highest_parent_id.replace(key, value, inplace=True)
    february.highest_parent_id.replace(key, value, inplace=True)
    march.highest_parent_id.replace(key, value, inplace=True)
    
q1 = pd.concat([january,february,march], sort=False)

id                                          int64
sold_on                            datetime64[ns]
highest_parent_id                          object
offer_id                                  float64
rating_em                                 float64
date(user_feedbacks.created_at)            object
item_id                                   float64
category_id                               float64
price                                     float64
dtype: object

In [160]:
jan_negative = january[january.rating_em < 3].id.count()
jan_total = january.id.count()
feb_negative = february[february.rating_em < 3].id.count()
feb_total = february.id.count()
mar_negative = march[march.rating_em < 3].id.count()
mar_total = march.id.count()
q1_negative = q1[q1.rating_em < 3]
q1_total = q1.id.count()
print("January: " + str("{0:.3f}%".format(jan_negative/jan_total)))
print("February: " + str("{0:.3f}%".format(feb_negative/feb_total)))
print("March: " + str("{0:.3f}%".format(mar_negative/mar_total)))
print("Q1: " + str("{0:.3f}%".format(q1_negative.id.count()/q1_total)))

January: 0.014%
February: 0.015%
March: 0.013%
Q1: 0.014%

0.010934723017140102

In [163]:
q1_negative.groupby("highest_parent_id").count().sort_values("id", ascending = False).reset_index()

,highest_parent_id,id,sold_on,offer_id,rating_em,feedback_date,item_id,category_id,price,date(user_feedbacks.created_at)
0,Fashion,476,476,476,476,187,476,476,476,289
1,Home & Garden,440,440,440,440,170,440,440,440,270
2,Health & Beauty,420,420,420,420,151,420,420,420,269
3,Computers/Tablets & Networking,218,218,218,218,77,218,218,218,141
4,Parts & Accessories,130,130,130,130,43,130,130,130,87
5,Jewelry & Watches,128,128,128,128,42,128,128,128,86
6,Sporting Goods,127,127,127,127,39,127,127,127,88
7,Collectibles,121,121,121,121,45,121,121,121,76
8,Toys & Hobbies,118,118,118,118,44,118,118,118,74
9,Consumer Electronics,94,94,94,94,37,94,94,94,57
10,DVDs & Movies,93,93,93,93,28,93,93,93,65
11,Cell Phones & Accessories,88,88,88,88,36,88,88,88,52
12,Business & Indeustrial,65,65,65,65,28,65,65,65,37
13,"Sports Mem, Cards & Fan Shop",60,60,60,60,27,60,60,60,33
14,Crafts,51,51,51,51,17,51,51,51,34
15,Video Games & Consoles,42,42,42,42,21,42,42,42,21
16,Everything Else,34,34,34,34,18,34,34,34,16
17,Pet Supplies,31,31,31,31,15,31,31,31,16
18,Enternatinment Memorabilia,27,27,27,27,6,27,27,27,21
19,Books,25,25,25,25,9,25,25,25,16
20,Coins & Paper Money,24,24,24,24,7,24,24,24,17
21,Digital Goods,23,23,23,23,6,23,23,23,17
22,Art,22,22,22,22,12,22,22,22,10
23,Dolls & Bears,16,16,16,16,9,16,16,16,7
24,Cameras & Photo,16,16,16,16,2,16,16,16,14
25,Pottery & Glass,15,15,15,15,4,15,15,15,11
26,Baby,15,15,15,15,7,15,15,15,8
27,Musical Instruments & Gear,13,13,13,13,8,13,13,13,5
28,Music,5,5,5,5,3,5,5,5,2
29,Antiques,4,4,4,4,2,4,4,4,2
30,Specialty Services,3,3,3,3,2,3,3,3,1
31,Travel,1,1,1,1,0,1,1,1,1

In [118]:

import datetime as dt
base = dt.datetime.today()
date_list = [(base - dt.timedelta(days=x)).strftime("%d-%m-%Y") for x in range(0, 87)]
week_number = negative.groupby(df['date'].dt.week).count().index

In [121]:
trace0 = go.Scatter(
    x = date_list,
    y = negative.groupby(df['date']).offer_id.count(),
    mode='lines',
    name='negative'
)
trace1 = go.Scatter(
    x = date_list,
    y = neutral.groupby(df['date']).offer_id.count(),
    mode='lines',
    name='neutral'
)
trace2 = go.Scatter(
    x = date_list,
    y = positive.groupby(df['date']).offer_id.count(),
    mode='lines',
    name='positive'
)
data = [trace0, trace1, trace2]


plot(data)

'file:///Users/bonanza/data_analysis/notebooks/temp-plot.html'

In [106]:
trace0 = go.Scatter(
    x = week_number,
    y = negative[negative.highest_parent_id == 'Fashion'].groupby(df['date'].dt.week).offer_id.count()/df[df.highest_parent_id == 'Fashion'].groupby(df['date'].dt.week).offer_id.count(),
    mode = 'lines',
    name = 'Fashion'
)
trace1 = go.Scatter(
    x = week_number,
    y = negative[negative.highest_parent_id == 'Home & Garden'].groupby(df['date'].dt.week).offer_id.count()/df[df.highest_parent_id == 'Home & Garden'].groupby(df['date'].dt.week).offer_id.count(),
    mode = 'lines',
    name = 'Home & Garden'
)
trace2 = go.Scatter(
    x = week_number,
    y = negative[negative.highest_parent_id == 'Health & Beauty'].groupby(df['date'].dt.week).offer_id.count()/df[df.highest_parent_id == 'Health & Beauty'].groupby(df['date'].dt.week).offer_id.count(),
    mode = 'lines',
    name = 'Health & Beauty'
)
trace3 = go.Scatter(
    x = week_number,
    y = negative[negative.highest_parent_id == 'Computers/Tablets & Networking'].groupby(df['date'].dt.week).offer_id.count()/df[df.highest_parent_id == 'Computers/Tablets & Networking'].groupby(df['date'].dt.week).offer_id.count(),
    mode = 'lines',
    name = 'Computers/Tablets & Networking'
)

trace4 = go.Scatter(
    x = week_number,
    y = negative[negative.highest_parent_id == 'Parts & Accessories'].groupby(df['date'].dt.week).offer_id.count()/df[df.highest_parent_id == 'Parts & Accessories'].groupby(df['date'].dt.week).offer_id.count(),
    mode = 'lines',
    name = 'Parts & Accessories'
)
trace5 = go.Scatter(
    x = week_number,
    y = negative[negative.highest_parent_id == 'Sporting Goods'].groupby(df['date'].dt.week).offer_id.count()/df[df.highest_parent_id == 'Sporting Goods'].groupby(df['date'].dt.week).offer_id.count(),
    mode = 'lines',
    name = 'Sporting Goods'
)
data = [trace0, trace1, trace2, trace3, trace4, trace5]


py.iplot(data)

In [108]:
trace0 = go.Scatter(
    x = week_number,
    y = negative[negative.highest_parent_id == 'DVDs & Movies'].groupby(df['date'].dt.week).offer_id.count()/df[df.highest_parent_id == 'DVDs & Movies'].groupby(df['date'].dt.week).offer_id.count(),
    mode = 'lines',
    name = 'DVDs & Movies'
)
trace1 = go.Scatter(
    x = week_number,
    y = negative[negative.highest_parent_id == 'Jewelry & Watches'].groupby(df['date'].dt.week).offer_id.count()/df[df.highest_parent_id == 'Jewelry & Watches'].groupby(df['date'].dt.week).offer_id.count(),
    mode = 'lines',
    name = 'Jewelry & Watches'
)
trace2 = go.Scatter(
    x = week_number,
    y = negative[negative.highest_parent_id == 'Everything Else'].groupby(df['date'].dt.week).offer_id.count()/df[df.highest_parent_id == 'Everything Else'].groupby(df['date'].dt.week).offer_id.count(),
    mode = 'lines',
    name = 'Everything Else'
)
trace3 = go.Scatter(
    x = week_number,
    y = negative[negative.highest_parent_id == 'Collectibles'].groupby(df['date'].dt.week).offer_id.count()/df[df.highest_parent_id == 'Collectibles'].groupby(df['date'].dt.week).offer_id.count(),
    mode = 'lines',
    name = 'Collectibles'
)

trace4 = go.Scatter(
    x = week_number,
    y = negative[negative.highest_parent_id == 'Toys & Hobbies'].groupby(df['date'].dt.week).offer_id.count()/df[df.highest_parent_id == 'Toys & Hobbies'].groupby(df['date'].dt.week).offer_id.count(),
    mode = 'lines',
    name = 'Toys & Hobbies'
)
trace5 = go.Scatter(
    x = week_number,
    y = negative[negative.highest_parent_id == 'Consumer Electronics'].groupby(df['date'].dt.week).offer_id.count()/df[df.highest_parent_id == 'Consumer Electronics'].groupby(df['date'].dt.week).offer_id.count(),
    mode = 'lines',
    name = 'Consumer Electronics'
)
data = [trace0, trace1, trace2, trace3, trace4, trace5]


py.iplot(data)